html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --mirage: #1f1f3d;
  --rhino: #353567;
  --east-bay: #3E4278; /* card border */
  --butterfly-bush: #5356A4;
  --wistful: #A9AAD2;
  --lavender-gray: #bfbfdd; /* replace with wistful? */
  --whisper: #EAEAF4;
  --white: #fff;
}

.content {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  background-color: var(--mirage);
}

.sidebar h1 {
  color: white;
}

.card-form {
  background-color: var(--wistful);
}

.cards-container {
  background-color: var(--whisper);
}

.card {
  width: 390px;
}

.card-header {
  background-color: var(--mirage);
  height: 50px;
}
