html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1,
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

p, 
label,
button,
input,
textarea {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --mirage: #1f1f3d;
  --rhino: #353567;
  --east-bay: #3E4278; /* card border */
  --butterfly-bush: #5356A4;
  --wistful: #A9AAD2;
  --lavender-gray: #bfbfdd; /* replace with wistful? */
  --whisper: #EAEAF4;
  --white: #fff;
}

.content {
  height: 100vh;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "sidebar forms"
    "sidebar cards";
}

/* || SIDEBAR */

.sidebar {
  background-color: var(--mirage);
  padding-top: 30px;
  grid-area: sidebar;
  display: grid;
  align-content: start;
}

.sidebar h1 {
  color: white;
  font-size: 24px;
  padding: 0 20px 30px;
}

.sidebar .starred-ideas {
  border-top: 2px solid var(--rhino);
  border-bottom: 2px solid var(--rhino);
  padding: 30px 20px;
  display: grid;
  gap: 30px;
}

.sidebar p {
  font-weight: 700;
  color: var(--lavender-gray);
}

.sidebar button {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 2px solid var(--rhino);
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  color: white;
  background-color: var(--butterfly-bush);
  cursor: pointer;
}

/* || FORMS */

.forms {
  padding: 20px;
  grid-area: forms;
  display: grid;
  gap: 30px;
  grid-template-columns: minmax(auto, 500px);
  justify-content: center;
  background-color: var(--wistful);
}

.card-form {
  display: grid;
  gap: 25px;
}

.card-form label {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-form input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 2px solid var(--butterfly-bush);
  font-size: 18px;
  padding: 0 10px;
}

.card-form textarea {
  width: 100%;
  resize: none;
  border-radius: 4px;
  border: 2px solid var(--butterfly-bush);
  font-size: 18px;
  padding: 10px;
}

.card-form button{
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 2px solid var(--butterfly-bush);
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  color: white;
  background-color: var(--rhino);
  cursor: pointer;
}

.card-form button:disabled {
  background:var(--wistful);
  cursor: not-allowed;
}

.search-form {
  position: relative;
}

.search-form .search-icon {
  background: url("../assets/search.svg");
  background-size: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--rhino);
  position: absolute;
  top: 2px;
  left: 2px;
  width: 46px;
  height: 46px;
  cursor: pointer;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search-form input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 2px solid var(--butterfly-bush);
  font-size: 18px;
  padding: 0 10px 0 56px ;
}

/* || CARDS */

.cards {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  align-items: start;
  align-content: start;
  grid-auto-flow: dense;
}

.card {
  border: 2px solid var(--east-bay);
}

.card-header {
  background-color: var(--mirage);
  height: 34px;
  padding: 0 5px ;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
}

.card-header img {
  width: 28px;
  cursor: pointer;
}

.card-body {
  background-color: var(--white);
  padding: 15px;
}

.card-body h2 {
  margin-bottom: 16px;
  font-size: 18px;
}

.card-body p {
  color: var(--mirage);
  line-height: 1.3;
  font-size: 18px;
  font-weight: 300;
}

.card-footer {
  background-color: var(--butterfly-bush);
  border-top: 2px solid var(--east-bay);
  padding: 2px;
  display: grid;
  gap: 0px;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.card-footer img {
  width: 28px;
}

.card-footer p {
  display: inline-block;
  color: var(--white);
  font-weight: 700;
  font-size: 15px;
}

/* || MODAL */

.modal-overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  padding: 0 15px;
  display: grid;
  /* justify-content: center; */
  /* padding-top: 100px; */
  grid-template-columns: 1fr minmax(auto, 540px) 1fr;
  grid-template-rows: 50px auto 1fr;
}

.modal-content {
  grid-row-start: 2;
  /* min-height: 500px; */
  /* max-height: 800px;  */
  background-color: white;
  grid-column-start: 2;
  display: grid;
  grid-template-rows: auto 1fr;
  /* align-items: start; */
  /* margin: 15% auto; */
  /* padding: 20px; */
  /* width: 80%; */
  border-radius: 10px;
}

.modal-header {
  background-color: var(--butterfly-bush);
  padding: 15px;
  color: #fff;
  border-radius: 4px 4px 0 0; 
  font-size: 18px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.modal-header img {
  width: 30px;
}

.modal-header img:hover {
  cursor: pointer;
}

.modal-body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 300px;
  max-height: 800px;
 }

 /* || COMMENTS */

 .comments {
  display: grid;
  align-content: start;
  gap: 15px;
  overflow: scroll;
  padding: 15px;
 }

 .comment {
  border-bottom: 2px solid var(--wistful);
  font-size: 18px;
  padding-bottom: 15px;
  line-height: 1.3;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
 }

 .comment img {
   width: 25px;
   color: black;
   cursor: pointer;
 }

 .comment:last-child {
  border-bottom: none;
  /* padding-bottom: 0; */
 }

 .empty-state {
  font-size: 18px;
  line-height: 1.3;
 }

 .comment-form {
  padding: 15px;
  background-color: var(--wistful); 
  border-radius: 0 0 4px 4px;
  display: grid;
  gap: 15px;
 }

 .comment-form textarea {
  width: 100%;
  resize: none;
  border-radius: 4px;
  border: 2px solid var(--butterfly-bush);
  font-size: 18px;
  padding: 10px;
 }

.comment-form button{
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 2px solid var(--butterfly-bush);
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  color: white;
  background-color: var(--rhino);
  cursor: pointer;
}

.comment-form button:disabled {
  background:var(--wistful);
  cursor: not-allowed;
}

/* || HELPER */
.hide {
  display: none;
}

@media screen and (max-width: 780px) {
  
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "sidebar"
    "forms"
    "cards";
  }

  .sidebar {
    padding-top: 15px;
  }

  .sidebar h1 {
    padding-bottom: 15px;
    font-size: 20px;
  }

  .sidebar .starred-ideas {
    display: none;
  }
}